{% extends 'auth.html.twig' %}

{% block title %}{{ title }} - {{ web_title }}{% endblock %}

{% block content %}
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <img src="{{ asset('build/images/logo/LogoNova1.jpg') }}" alt="Logo">
                </div>
                <h1 class="auth-title">Restablecer contraseña</h1>
                <p class="auth-subtitle mb-5">Ingrese su nueva contraseña y la confirmación.</p>

                <form action="{{ path('app_reset_password') }}" class="needs-validation" novalidate method="post">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password-id-icon">Nueva contraseña</label>
                            <div class="position-relative">
                                <input type="password" class="form-control" placeholder="Contraseña" pattern=".{8,}" title="Ocho o más caracteres"
                                       id="password" name="password" required >
                                <div class="invalid-feedback" id="passwordMessage">
                                    Este valor es requerido
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password-id-icon">Confirmar contraseña</label>
                            <div class="position-relative">
                                <input type="password" class="form-control" placeholder="Confirmar contraseña" pattern=".{8,}" title="Ocho o más caracteres"
                                       id="password-confirmation" name="password-confirmation"  required >
                                <div class="invalid-feedback" id="valPasswordMessage2">
                                    Este valor es requerido
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="email" id="inputEmail" value="{{ email }}">
                    <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Enviar</button>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class='text-gray-600'>¿Recuerda su cuenta? <a href="{{ path('app_login') }}" class="font-bold">Iniciar
                            sesión</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">

            </div>
        </div>
    </div>

    {% block js %}
        <script>
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            //Validacion de password
                            if (  form["password"].value === '' ){
                                document.getElementById('passwordMessage').innerHTML = 'Este valor es requerido';
                                event.preventDefault()
                                event.stopPropagation()
                            }else if (  form["password"].value.length < 8){
                                document.getElementById('passwordMessage').innerHTML = 'La contraseña debe tener más de 8 caracteres';
                                event.preventDefault()
                                event.stopPropagation()
                            }else if (form["password"].value !== form["password-confirmation"].value){
                                document.getElementById('valPasswordMessage2').innerHTML = 'Los valores no coinciden';
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
        </script>
    {% endblock %}
{% endblock %}
