{% extends 'base.html.twig' %}

{% block title %}Contacto index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pagesDatatables') }}

{% endblock %}
{% block content %}
    <h2>Lista de contactos Web</h2>
    <div class="row flex-row-reverse">
        <div class="col-2">
            <button type="button" class="btn btn-primary float-end mb-3" data-bs-toggle="modal" data-bs-target="#exportContactoModal">
                Exportar a Excel
            </button>
        </div>

    </div>

    <table class="table" id="contactosDatatable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre Contacto</th>
            <th>Organización</th>
            <th>Email Contacto</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Tipo de Consulta</th>
            <th>Mensaje</th>
        </tr>
        </thead>
        <tbody>
        {% for contacto in contactos %}
            <tr>
                <td>{{ contacto.id }}</td>
                <td>{{ contacto.nombreContacto }}</td>
                <td>{{ contacto.organizacion }}</td>
                <td>{{ contacto.emailContacto }}</td>
                <td>{{ contacto.telefono }}</td>
                <td>{{ contacto.celular }}</td>
                <td>{{ contacto.tipoConsulta }}</td>
                <td>{{ contacto.mensaje }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exportContactoModal" tabindex="-1" aria-labelledby="exportContactoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportContactoModalLabel">Seleccione el rango de fechas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="form form-vertical needs-validation" method="post" novalidate target="_blank"
                      action="{{ path('contacto_export') }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Fecha inicial:</label>
                            <input type="date" class="form-control" id="fecha_inicial" name="fecha_inicial" required>
                            <div class="invalid-feedback">
                                Éste valor es requerido
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Fecha final:</label>
                            <input type="date" class="form-control" id="fecha_final" name="fecha_final" required>
                            <div class="invalid-feedback">
                                Éste valor es requerido
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Exportar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}