{% extends 'base.html.twig' %}

{% block title %}Lista de productos{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pagesDatatables') }}
{% endblock %}

{% block content %}
    <h1>Lista de productos</h1>

    <table class="table" id="productosDatatable">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th>Title</th>
                <th>Categoría</th>
                <th class="text-center">Imagen</th>
                <th>Slug</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.category.name }}</td>
                <td><img class="img-list" src="{{ app_url }}{{ 'uploads/images/' }}{{ product.image1 }}" alt="{{ product.title }}"></td>
                <td>{{ product.slug }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('product_show', {'id': product.id}) }}">Ver</a></li>
                            <li><a class="dropdown-item" href="{{ path('product_edit', {'id': product.id}) }}">Editar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('product_new') }}">Adicionar producto</a>
{% endblock %}
