{% extends 'base.html.twig' %}

{% block title %}Adicionar producto{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('product') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('producto') }}
{% endblock %}
{% block content %}
    <h2 class="ps-3">Adicionar producto</h2>

    {{ include('product/_form.html.twig') }}

    <a class="btn btn-primary ms-3"  href="{{ path('product_index') }}">Volver a la lista</a>
{% endblock %}
