<div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="index.html"><img src="{{ asset('build/images/logo/LogoNova1.jpg') }}" alt="Logo" srcset=""></a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">

        <ul class="menu">

            <li class="sidebar-item {{ (app.request.attributes.get('_route') == 'home' ) ? 'active' : '' }}">
                <a href="{{ path('home') }}" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Inicio</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="sidebar-item {{ (app.request.attributes.get('_route') == 'configuration_index' or app.request.attributes.get('_route') == 'configuration_new') ? 'active' : '' }} has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-gear-fill"></i>
                    <span>Configuración</span>
                </a>
                <ul class="submenu {{ (app.request.attributes.get('_route') == 'configuration_index' or app.request.attributes.get('_route') == 'configuration_new') ? 'active' : '' }}">
                    <li class="submenu-item {{ (app.request.uri ends with path('configuration_index')) ? 'active' : '' }}">
                        <a href="{{ path('configuration_index') }}">Lista</a>
                    </li>
                    <li class="submenu-item {{ (app.request.attributes.get('_route') == 'configuration_new') ? 'active' : '' }}">
                        <a href="{{ path('configuration_new') }}">Creación</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="sidebar-item  has-sub {{ (app.request.attributes.get('_route') == 'user_index' or app.request.attributes.get('_route') == 'user_new') ? 'active' : ''  }}">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-people"></i>
                        <span>Usuarios</span>
                    </a>
                    <ul class="submenu {{ (app.request.attributes.get('_route') == 'user_index' or app.request.attributes.get('_route') == 'user_new') ? 'active' : ''  }}">
                        <li class="submenu-item {{ (app.request.attributes.get('_route') == 'user_index') ? 'active' : ''  }}">
                            <a href="{{ path('user_index') }}">Lista</a>
                        </li>
                        <li class="submenu-item {{ (app.request.attributes.get('_route') == 'user_new') ? 'active' : ''  }}">
                            <a href="{{ path('user_new') }}">Creación</a>
                        </li>
                    </ul>
                </li>
            {% endif %}



            <li class="sidebar-item has-sub {{ (app.request.attributes.get('_route') == 'category_index' or app.request.attributes.get('_route') == 'category_new') ? 'active' : ''  }}">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-menu-button-fill"></i>
                    <span>Categorías</span>
                </a>
                <ul class="submenu {{ (app.request.attributes.get('_route') == 'category_index' or app.request.attributes.get('_route') == 'category_new') ? 'active' : ''  }}">
                    <li class="submenu-item {{ (app.request.attributes.get('_route') == 'category_index') ? 'active' : ''  }}">
                        <a href="{{ path('category_index') }}">Lista</a>
                    </li>
                    <li class="submenu-item {{ (app.request.attributes.get('_route') == 'category_new') ? 'active' : ''  }}">
                        <a href="{{ path('category_new') }}">Creación</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item has-sub {{ (app.request.attributes.get('_route') == 'product_index' or app.request.attributes.get('_route') == 'product_new') ? 'active' : ''  }}">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-box-seam"></i>
                    <span>Productos</span>
                </a>
                <ul class="submenu {{ (app.request.attributes.get('_route') == 'product_index' or app.request.attributes.get('_route') == 'product_new') ? 'active' : ''  }}">
                    <li class="submenu-item {{ (app.request.attributes.get('_route') == 'product_index') ? 'active' : ''  }}">
                        <a href="{{ path('product_index') }}">Lista</a>
                    </li>
                    <li class="submenu-item {{ (app.request.attributes.get('_route') == 'product_new') ? 'active' : ''  }}">
                        <a href="{{ path('product_new') }}">Creación</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item has-sub {{ (app.request.attributes.get('_route') == 'banner_index' or app.request.attributes.get('_route') == 'banner_new') ? 'active' : ''  }}">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-view-list"></i>
                    <span>Banners</span>
                </a>
                <ul class="submenu {{ (app.request.attributes.get('_route') == 'banner_index' or app.request.attributes.get('_route') == 'banner_new') ? 'active' : ''  }}">
                    <li class="submenu-item {{ (app.request.attributes.get('_route') == 'banner_index') ? 'active' : ''  }}">
                        <a href="{{ path('banner_index') }}">Lista</a>
                    </li>
                    <li class="submenu-item {{ (app.request.attributes.get('_route') == 'banner_new') ? 'active' : ''  }}">
                        <a href="{{ path('banner_new') }}">Creación</a>
                    </li>
                </ul>
            </li>


            <li class="sidebar-item has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-menu-button-wide-fill"></i>
                    <span>Menu sitio</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item ">
                        <a href="layout-default.html">Default Layout</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="layout-vertical-1-column.html">1 Column</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-collection"></i>
                    <span>Presentación</span>
                </a>
                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a href="extra-component-avatar.html">Lista</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="extra-component-sweetalert.html">Crear</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-layout-text-window-reverse"></i>
                    <span>Páginas</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item ">
                        <a href="layout-default.html">Default Layout</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="layout-vertical-1-column.html">1 Column</a>
                    </li>
                </ul>
            </li>
        </ul>
        {# <ul class="menu">{% for sidebarItem in sidebarItems %}{% if sidebarItem.isTitle %}
                <li class="sidebar-title">{{sidebarItem.name}}</li>
            {% else %}
                <li class="sidebar-item {{ 'active' if (sidebarItem.url == filename or filename|startsWith(sidebarItem.key)) }} {{'has-sub' if sidebarItem.submenu.length > 0 }}">
                    <a href="{{sidebarItem.url if sidebarItem.url!==undefined else '#'}}" class='sidebar-link'>
                        <i class="bi bi-{{ sidebarItem.icon }}"></i>
                        <span>{{sidebarItem.name}}</span>
                    </a>{% if sidebarItem.submenu.length > 0 %}
                    <ul class="submenu {{ 'active' if (sub.url == filename or filename|startsWith(sidebarItem.key)) }}">{% for sub in sidebarItem.submenu %}
                    <li class="submenu-item {{ 'active' if sub.url == filename }}">
                        <a href="{{ sub.url }}">{{ sub.name }}</a>
                        </li>{% endfor %}
                    </ul>{% endif %}
                </li>
            {% endif %}{% endfor %}
        </ul> #}
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>