{% extends 'base.html.twig' %}

{% block title %}Lista de usuarios{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pagesDatatables') }}
{% endblock %}

{% block content %}
    <h1>Lista de usuarios</h1>

    <table class="table" id="usersDatatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Correo electrónico</th>
                <th>Roles</th>
                <th>Contraseña</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.roles is defined %}
                        {% for rol in user.roles %}
                            <span class="rol">{{ rol }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ user.password }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Ver</a></li>
                            <li><a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_new') }}">Crear usuario</a>
{% endblock %}

{% block js %}
{% endblock %}