{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block content %}
    <h2>User</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_index') }}">Volver a la lista</a>

    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Editar usuario</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
