{% extends 'base.html.twig' %}

{% block title %}Lista de mercados{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pagesDatatables') }}
{% endblock %}
{% block content %}
    <h2>Lista de mercados</h2>

    <table class="table" id="mercadosDatatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Slug</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for mercado in mercados %}
            <tr>
                <td>{{ mercado.id }}</td>
                <td>{{ mercado.name }}</td>
                <td>{{ mercado.slug }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('mercado_show', {'id': mercado.id}) }}">Ver</a></li>
                            <li><a class="dropdown-item" href="{{ path('mercado_edit', {'id': mercado.id}) }}">Editar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('mercado_new') }}">Adicionar mercado</a>
{% endblock %}
