{% extends 'base.html.twig' %}

{% block title %}Lista de variables de configuración{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pagesDatatables') }}
{% endblock %}

{% block content %}
    <h2>Lista de variables de configuración</h2>

    <table class="table" id="configurationsDatatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Variable</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for configuration in configurations %}
            <tr>
                <td>{{ configuration.id }}</td>
                <td>{{ configuration.description }}</td>
                <td>{{ configuration.value }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Acciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('configuration_show', {'id': configuration.id}) }}">Ver</a></li>
                            <li><a class="dropdown-item" href="{{ path('configuration_edit', {'id': configuration.id}) }}">Editar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('configuration_new') }}">Adicionar configuración</a>
{% endblock %}
